<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pugachserver/SecretSantaTelegramBot/swagger</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>673a68e6-469f-40d7-9071-d0fd10738a3a</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://PUGACHSERVER:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/SecretSantaTelegramBot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>PUGACHSERVER\Administrator</UserName>
    <_SavePWD>True</_SavePWD>
	<EnvironmentName>Production</EnvironmentName>
	<AllowUntrustedCertificate>True</AllowUntrustedCertificate>
  </PropertyGroup>

	<ItemGroup>
		<Content Update="appsettings.Development.json" CopyToPublishDirectory="Never" />
	</ItemGroup>
</Project>